.pagination-container {
    float: right;
}

.pagination-container .page-link {
    padding: 0.25rem 0.5rem;
}

.badge {
    border-radius: 0;
    font-weight: 500;
}

.ck-editor__editable_inline {
    min-height: 150px;  
}

/*
* SWEETALERT
*/

/* brand color */
.swal2-popup.swal2-toast {
    background: #02073e !important;
}

/* overall size */
.swal2-container.swal2-bottom>.swal2-popup {
    width: auto !important;
}
.swal2-popup.swal2-toast {
    padding: 7px 10px !important;
}

/* success color */
.swal2-icon.swal2-success .swal2-success-ring {
    border: 0.25em solid #fff !important;
}
.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #fff !important;
}

/* warning color */
.swal2-icon.swal2-error {
    border-color: #ffffff !important;
    color: #ffffff !important;
}
.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    background-color: #fff !important;
}

/* overall text */
.swal2-popup.swal2-toast.swal2-icon-success .swal2-title, .swal2-popup.swal2-toast.swal2-icon-warning .swal2-title, .swal2-popup.swal2-toast .swal2-title {
    color: #fff;
    font-size: 18px !important;
    font-weight: 500;
}

/* close color */
.swal2-close:hover {
    color: #727272 !important;
}
.custom-control-input:checked~.custom-control-label::before{
    border-color: #46b72a !important;
    background-color: #46b72a !important;
}
.btn-primary:hover{
    background-color: rgb(0 32 66) !important;
}
.admin_web_logo{
    background-color: #fff !important;
}
.active_nav_link{
    background-color: rgba(255,255,255,.1) !important;
    color: #fff !important;
}

.sortable-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sortable-item {
    padding: 15px;
    margin-bottom: 10px;
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: move;
}

/* full calender css  21-04-2025*/
.calendar-section {
    margin-bottom: 20px;
  }
  .calendar, .calendar_weekdays,
  .calendar_content {
    max-width: 585px;
  }
  
  .calendar {
    /*float: left;*/
    margin: auto;
    min-width: 320px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  
  .calendar_weekdays {
      color: #aaa;
      font-weight: lighter;
  }
  .calendar_weekdays div {
    display:inline-block;
    vertical-align:top;
  }
  .calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
  }
  .calendar_content:after, .calendar_weekdays:after, .calendar_header:after {
      content: ' ';
      display: table;
      clear: both;
  }
  .calendar_weekdays div, .calendar_content div {
    /*border: 1px dotted #999;*/
    width: 14.28571%;
    height: 70px;
    line-height: 69px;  
    overflow: hidden;
    border-radius:50%;
    text-align: center;
    background-color: transparent;
  }
  
  .calendar_content .today {
      color: #3B8FC7;
  }
  .calendar_content div {
    float: left;
      margin-left: -1px;
      margin-top: -1px;
    border: 1px solid transparent;
  }
  .calendar_content div:hover {
    border: 1px solid #777;
    /*line-height: 68px;*/
    cursor: pointer;
  }
  
  .calendar_content div.blank:hover {
    cursor: default;
    border: none;
  }
  
  .calendar_content div.past-date {
      cursor: initial;
    color: #d5d5d5;
  }
  .calendar_content div.today{
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background:orange;
  }
  .calendar_content div.selected {
    background-color: rgba(153, 153, 161, .2); /*rgba(170, 170, 176, .5) #aaaab0*/
    border: 1px solid white;
  }
  .calendar_header {
    width: 100%;
    text-align: center;
  }
  
  .calendar_header h2 {
    float:left;
    width:70%;
    margin-top: 10px;
    padding: 0 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #FFFFFF;
  }
  
  button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    line-height: 52px;
    height: 55px;
    float: left;
    width:15%;
    transition: color .2s;
  }
  
  button.switch-month:hover {
    color: #5EADE2;
  }
  button.switch-month:active {
    background-color: rgba(113, 113, 125, .4);
  }
  .calendar_header h2 {
    color: #409EDD;
    line-height: 1.7;
  }
/* calender js */
  .calendar-day.highlight-range {
    background-color: #c8e6c9 !important;
    border-radius: 50%;
}


/* added button on each date */
.upload-itenary-btn {
  font-size: 10px;
  padding: 2px 6px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 4px;
  width: auto;
  text-align: center;
  white-space: nowrap;
  transition: 0.2s;
}

.upload-itenary-btn:hover {
  background-color: #0056b3;
}

.calendar-date-number {
  font-size: 14px;
  font-weight: bold;
}




